*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  min-height: 100vh;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.auction-container{
  width: 100%;
  max-width: 1000px;
}

.auction-card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #111827;
  border-radius: 22px;
  overflow: hidden;
  border: 1px solid rgba(255,255,255,0.08);
}

.auction-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auction-content{
  padding: 35px;
}

.auction-content h1{
  margin-bottom: 15px;
  color: #f97316;
}

.auction-content p{
  color: #cbd5e1;
  line-height: 1.5;
  margin-bottom: 30px;
}

.details{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.details span{
  color: #94a3b8;
}

.details h2{
  margin-top: 10px;
}

.bid-section{
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.bid-section input{
  flex: 1;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: #1e293b;
  color: white;
  outline: none;
}

.bid-section button{
  padding: 14px 20px;
  border: none;
  border-radius: 12px;
  background: #f97316;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.bid-section button:hover{
  background: #ea580c;
}

.history-section h3{
  margin-bottom: 18px;
}

.history-item{
  background: #1e293b;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 12px;
}

@media(max-width: 850px){

  .auction-card{
    grid-template-columns: 1fr;
  }

  .auction-card img{
    height: 300px;
  }

  .bid-section{
    flex-direction: column;
  }
}