*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#111827;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
}

.clipboard-container{
  width:100%;
  max-width:750px;
  background:#1f2937;
  padding:35px;
  border-radius:20px;
  box-shadow:0 4px 15px rgba(0,0,0,0.3);
}

.clipboard-container h1{
  text-align:center;
  color:#fff;
  margin-bottom:30px;
}

.input-section{
  display:flex;
  gap:15px;
  margin-bottom:30px;
}

.input-section input{
  flex:1;
  padding:14px;
  border:none;
  border-radius:12px;
  outline:none;
  background:#374151;
  color:#fff;
}

#saveBtn{
  padding:14px 22px;
  border:none;
  border-radius:12px;
  background:#2563eb;
  color:#fff;
  cursor:pointer;
  transition:0.3s;
}

#saveBtn:hover{
  background:#1d4ed8;
}

.clipboard-list{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.clipboard-card{
  background:#374151;
  padding:20px;
  border-radius:16px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:20px;
  transition:0.3s;
}

.clipboard-card:hover{
  transform:translateY(-4px);
}

.clipboard-card p{
  color:#fff;
  word-break:break-word;
}

.card-buttons{
  display:flex;
  gap:10px;
}

.card-buttons button{
  padding:10px 16px;
  border:none;
  border-radius:10px;
  color:#fff;
  cursor:pointer;
}

.copy-btn{
  background:#22c55e;
}

.delete-btn{
  background:#ef4444;
}

@media(max-width:600px){

  .clipboard-card{
    flex-direction:column;
    align-items:flex-start;
  }

  .input-section{
    flex-direction:column;
  }
}