/* style.css */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#020617;
  color:white;
}

header{
  text-align:center;
  padding:20px;
  background:#0f172a;
  border-bottom:2px solid #8b5cf6;
}

.container{
  width:90%;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:20px;
  padding:30px 0;
}

.card{
  background:#0f172a;
  padding:20px;
  border-radius:15px;
  border:1px solid #1e293b;
  box-shadow:0 0 15px rgba(139,92,246,0.2);
}

.card h2{
  margin-bottom:20px;
  color:#a855f7;
}

.network{
  display:flex;
  justify-content:space-around;
  align-items:center;
  min-height:250px;
}

.layer{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.node{
  width:45px;
  height:45px;
  background:#8b5cf6;
  border-radius:50%;
  animation:pulse 2s infinite;
  cursor:pointer;
  transition:0.3s;
}

.node:hover{
  transform:scale(1.2);
  background:#c084fc;
}

@keyframes pulse{

  0%{
    transform:scale(1);
  }

  50%{
    transform:scale(1.1);
  }

  100%{
    transform:scale(1);
  }

}

.progress{
  width:100%;
  height:22px;
  background:#1e293b;
  border-radius:20px;
  overflow:hidden;
  margin:15px 0;
}

.progress-bar{
  width:65%;
  height:100%;
  background:#8b5cf6;
  transition:0.5s;
}

.graph-section{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.graph{
  height:20px;
  border-radius:20px;
  margin-top:10px;
}

.accuracy{
  width:88%;
  background:#22c55e;
}

.loss{
  width:30%;
  background:#ef4444;
}

@media(max-width:768px){

  .network{
    flex-direction:column;
    gap:30px;
  }

}