*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#111827;
}

.card-container{
  padding:20px;
}

.payment-card{
  width:380px;
  background:linear-gradient(135deg,#2563eb,#1e40af);
  border-radius:22px;
  padding:30px;
  color:#fff;
  box-shadow:0 6px 18px rgba(0,0,0,0.3);
  transition:0.3s;
}

.payment-card:hover{
  transform:translateY(-5px);
}

.card-top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:45px;
}

.chip{
  width:60px;
  height:45px;
  background:#facc15;
  border-radius:10px;
}

.card-type{
  font-size:26px;
  font-weight:bold;
  letter-spacing:2px;
}

.card-number{
  font-size:28px;
  letter-spacing:3px;
  margin-bottom:40px;
  word-spacing:8px;
}

.card-details{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.card-details span{
  font-size:13px;
  color:#dbeafe;
}

.card-details h3{
  margin-top:6px;
  font-size:18px;
}

@media(max-width:500px){

  .payment-card{
    width:100%;
    padding:25px;
  }

  .card-number{
    font-size:22px;
  }
}