*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f4f4f4;
}

.select-container{
  width:320px;
  position:relative;
}

.select-box{
  background:#fff;
  padding:16px 18px;
  border-radius:12px;
  border:1px solid #ccc;
  display:flex;
  justify-content:space-between;
  align-items:center;
  cursor:pointer;
  transition:0.3s;
}

.select-box:hover{
  border-color:#2563eb;
}

.arrow{
  font-size:14px;
}

.options{
  list-style:none;
  background:#fff;
  border-radius:12px;
  margin-top:10px;
  overflow:hidden;
  box-shadow:0 4px 12px rgba(0,0,0,0.1);
  display:none;
  animation:fadeIn 0.3s ease;
}

.options.show{
  display:block;
}

.option{
  padding:15px 18px;
  cursor:pointer;
  transition:0.3s;
}

.option:hover{
  background:#eff6ff;
  color:#2563eb;
}

@keyframes fadeIn{
  from{
    opacity:0;
    transform:translateY(-10px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }
}