*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#141e30,#243b55);
  padding:20px;
}

.quiz-container{
  width:100%;
  max-width:500px;
}

.quiz-box{
  background:white;
  padding:30px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

.title{
  text-align:center;
  color:white;
  margin-bottom:20px;
  font-size:38px;
}

#question{
  margin-bottom:25px;
  color:#222;
  font-size:24px;
}

.answer-buttons{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.btn{
  padding:15px;
  border:none;
  border-radius:12px;
  background:#f1f1f1;
  cursor:pointer;
  font-size:16px;
  transition:0.3s;
  text-align:left;
}

.btn:hover{
  background:#dbeafe;
  transform:translateX(5px);
}

.correct{
  background:#22c55e !important;
  color:white;
}

.wrong{
  background:#ef4444 !important;
  color:white;
}

#nextBtn{
  margin-top:25px;
  width:100%;
  padding:15px;
  border:none;
  border-radius:12px;
  background:#2563eb;
  color:white;
  font-size:16px;
  cursor:pointer;
  display:none;
  transition:0.3s;
}

#nextBtn:hover{
  background:#1d4ed8;
}

@media(max-width:500px){

  .quiz-box{
    padding:20px;
  }

  #question{
    font-size:20px;
  }

}