*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#0f172a;
}

.container{
  width:400px;
  max-width:90%;
}

.progress-box{
  margin-bottom:25px;
}

.progress-box h3{
  color:white;
  margin-bottom:10px;
  font-size:1rem;
}

.progress-bar{
  width:100%;
  height:22px;
  background:#1e293b;
  border-radius:30px;
  overflow:hidden;
}

.progress{
  height:100%;
  display:flex;
  align-items:center;
  justify-content:flex-end;
  padding-right:10px;
  color:white;
  font-size:0.85rem;
  border-radius:30px;
  animation:fillAnimation 2s ease;
}

/* Individual Progress */

.html{
  width:90%;
  background:#3b82f6;
}

.css{
  width:80%;
  background:#8b5cf6;
}

.js{
  width:70%;
  background:#22c55e;
}

@keyframes fillAnimation{
  from{
    width:0;
  }
}

@media(max-width:500px){

  .container{
    width:95%;
  }

}