
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#f1f5f9;
  color:#0f172a;
}

header{
  text-align:center;
  padding:20px;
  background:#0ea5e9;
  color:white;
}

.container{
  width:90%;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:20px;
  padding:30px 0;
}

.card{
  background:white;
  padding:20px;
  border-radius:15px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.card h2{
  margin-bottom:20px;
  color:#0284c7;
}

.patients{
  display:flex;
  gap:15px;
  flex-wrap:wrap;
}

.patient{
  flex:1;
  padding:15px;
  border-radius:12px;
  color:white;
}

.stable{
  background:#22c55e;
}

.critical{
  background:#ef4444;
}

.chart{
  width:100%;
  height:120px;
  background:#e2e8f0;
  border-radius:10px;
  position:relative;
  overflow:hidden;
}

.pulse{
  width:100%;
  height:100%;
  background:
  linear-gradient(
    transparent 45%,
    #ef4444 45%,
    #ef4444 55%,
    transparent 55%
  );

  animation:pulseMove 1s linear infinite;
}

@keyframes pulseMove{

  from{
    transform:translateX(-20px);
  }

  to{
    transform:translateX(20px);
  }

}

#heartRate{
  margin-top:15px;
  font-size:24px;
  font-weight:bold;
}

.oxygen-bar{
  width:100%;
  height:24px;
  background:#cbd5e1;
  border-radius:20px;
  overflow:hidden;
  margin-bottom:15px;
}

.oxygen-fill{
  width:96%;
  height:100%;
  background:#0ea5e9;
}

.alert-box{
  background:#dc2626;
  color:white;
  padding:15px;
  border-radius:10px;
  animation:blink 1s infinite;
}

@keyframes blink{

  50%{
    opacity:0.5;
  }

}

table{
  width:100%;
  border-collapse:collapse;
}

th,
td{
  border:1px solid #cbd5e1;
  padding:10px;
  text-align:center;
}

th{
  background:#e0f2fe;
}