*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  min-height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  padding: 30px;
}

.weather-dashboard{
  max-width: 1200px;
  margin: auto;
}

.top-section{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 25px;
  margin-bottom: 35px;
}

.weather-card{
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(12px);
  border-radius: 22px;
  padding: 30px;
}

.main-weather{
  position: relative;
  overflow: hidden;
}

.main-weather h1{
  font-size: 70px;
  color: #60a5fa;
}

.main-weather h2{
  margin: 10px 0;
}

.main-weather p{
  color: #cbd5e1;
}

.weather-icon{
  position: absolute;
  top: 25px;
  right: 30px;
  font-size: 70px;
  animation: float 3s infinite ease-in-out;
}

@keyframes float{
  0%,100%{
    transform: translateY(0);
  }

  50%{
    transform: translateY(-10px);
  }
}

.stats-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stat{
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 16px;
}

.stat h3{
  margin-bottom: 10px;
  color: #cbd5e1;
}

.stat p{
  font-size: 28px;
  color: #60a5fa;
}

.forecast-section{
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(12px);
  border-radius: 22px;
  padding: 30px;
}

.forecast-section h2{
  margin-bottom: 25px;
}

.forecast-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
}

.forecast-card{
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  transition: 0.3s ease;
}

.forecast-card:hover{
  transform: translateY(-5px);
}

.forecast-card span{
  display: block;
  font-size: 40px;
  margin: 15px 0;
}

.forecast-card p{
  color: #60a5fa;
  font-size: 20px;
}

@media(max-width: 850px){

  .top-section{
    grid-template-columns: 1fr;
  }

  .main-weather h1{
    font-size: 55px;
  }
}