*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f4f4f4;
}

.calendar-container{
  width:380px;
  background:#fff;
  border-radius:16px;
  padding:25px;
  box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.calendar-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:25px;
}

.calendar-header h2{
  color:#333;
}

.calendar-header button{
  border:none;
  background:#2563eb;
  color:#fff;
  padding:10px 14px;
  border-radius:8px;
  cursor:pointer;
  transition:0.3s;
}

.calendar-header button:hover{
  background:#1d4ed8;
}

.days,
.dates{
  display:grid;
  grid-template-columns:repeat(7,1fr);
  gap:10px;
  text-align:center;
}

.days div{
  font-weight:bold;
  color:#555;
}

.dates div{
  padding:14px;
  border-radius:10px;
  cursor:pointer;
  transition:0.3s;
}

.dates div:hover{
  background:#dbeafe;
}

.current-date{
  background:#2563eb;
  color:#fff;
}

@media(max-width:450px){

  .calendar-container{
    width:95%;
  }
}