*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#111827;
}

.scanner-container{
  background:#1f2937;
  padding:35px;
  border-radius:18px;
  text-align:center;
  box-shadow:0 4px 12px rgba(0,0,0,0.3);
}

.scanner-container h1{
  color:#fff;
  margin-bottom:30px;
}

.scanner-box{
  display:flex;
  justify-content:center;
  margin-bottom:25px;
}

.scanner-frame{
  width:260px;
  height:260px;
  border:4px solid #22c55e;
  border-radius:18px;
  position:relative;
  overflow:hidden;
}

.scan-line{
  width:100%;
  height:4px;
  background:#22c55e;
  position:absolute;
  top:0;
  animation:scan 2s linear infinite;
}

@keyframes scan{

  0%{
    top:0;
  }

  100%{
    top:100%;
  }
}

#scanBtn{
  padding:14px 24px;
  border:none;
  border-radius:10px;
  background:#22c55e;
  color:#fff;
  cursor:pointer;
  font-size:16px;
  transition:0.3s;
}

#scanBtn:hover{
  transform:scale(1.05);
}

@media(max-width:500px){

  .scanner-frame{
    width:220px;
    height:220px;
  }

  .scanner-container{
    width:90%;
    padding:25px;
  }
}