
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#020617;
  color:white;
}

header{
  text-align:center;
  padding:20px;
  background:#0f172a;
  border-bottom:2px solid #22c55e;
}

.container{
  width:90%;
  margin:auto;
  padding:30px 0;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:20px;
}

.card{
  background:#0f172a;
  padding:25px;
  border-radius:18px;
  border:1px solid #1e293b;
  box-shadow:0 0 15px rgba(34,197,94,0.2);
}

.card h2{
  margin-bottom:20px;
  color:#22c55e;
}

.circle{
  width:180px;
  height:180px;
  margin:auto;
  border-radius:50%;
  background:
  conic-gradient(
    #22c55e 0% 72%,
    #1e293b 72% 100%
  );

  display:flex;
  justify-content:center;
  align-items:center;
}

.ram-circle{
  background:
  conic-gradient(
    #38bdf8 0% 58%,
    #1e293b 58% 100%
  );
}

.inner-circle{
  width:130px;
  height:130px;
  background:#020617;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:28px;
  font-weight:bold;
}

.info-box p{
  margin-bottom:12px;
}

.graph{
  width:100%;
  height:160px;
  background:#111827;
  border-radius:12px;
  position:relative;
  overflow:hidden;
}

.line{
  position:absolute;
  width:200%;
  height:3px;
  background:#22c55e;
  top:50%;
  animation:moveLine 2s linear infinite;
}

@keyframes moveLine{

  from{
    transform:translateX(-50%);
  }

  to{
    transform:translateX(0%);
  }

}