/* style.css */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#020617;
  color:white;
}

header{
  text-align:center;
  padding:20px;
  background:#0f172a;
  border-bottom:2px solid #38bdf8;
}

.dashboard{
  width:90%;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:20px;
  padding:30px 0;
}

.card{
  background:#0f172a;
  padding:20px;
  border-radius:15px;
  border:1px solid #1e293b;
  box-shadow:0 0 15px rgba(56,189,248,0.2);
}

.card h2{
  margin-bottom:20px;
  color:#38bdf8;
}

.status-grid{
  display:flex;
  gap:15px;
  flex-wrap:wrap;
}

.status{
  padding:12px 18px;
  border-radius:10px;
  font-weight:bold;
}

.online{
  background:#22c55e;
}

.active{
  background:#3b82f6;
}

.charging{
  background:#facc15;
  color:black;
}

.monitor p{
  margin:10px 0;
}

.progress{
  width:100%;
  height:20px;
  background:#1e293b;
  border-radius:20px;
  overflow:hidden;
  margin-bottom:20px;
}

.battery-level{
  width:80%;
  height:100%;
  background:#22c55e;
}

.sensor-level{
  width:92%;
  height:100%;
  background:#38bdf8;
}

.controls{
  text-align:center;
}

.joystick{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:10px;
}

.middle{
  display:flex;
  gap:10px;
}

.joystick button{
  width:60px;
  height:60px;
  border:none;
  border-radius:50%;
  background:#1e293b;
  color:white;
  font-size:22px;
  cursor:pointer;
  transition:0.3s;
}

.joystick button:hover{
  background:#38bdf8;
  color:black;
}

.commands{
  display:flex;
  gap:15px;
  flex-wrap:wrap;
}

.cmd{
  padding:12px 18px;
  border:none;
  border-radius:10px;
  background:#38bdf8;
  color:black;
  cursor:pointer;
  font-weight:bold;
}

.logs{
  background:black;
  padding:15px;
  border-radius:10px;
  height:180px;
  overflow-y:auto;
  font-family:monospace;
  color:#22c55e;
}