*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#f4f4f4;
}

.dashboard{
  display:flex;
  min-height:100vh;
}

.sidebar{
  width:260px;
  background:#111827;
  color:#fff;
  padding:25px 20px;
  transition:0.3s;
}

.logo{
  font-size:28px;
  font-weight:bold;
  margin-bottom:35px;
}

.menu{
  list-style:none;
}

.menu li{
  padding:14px;
  margin-bottom:12px;
  border-radius:10px;
  cursor:pointer;
  transition:0.3s;
}

.menu li:hover,
.menu .active{
  background:#2563eb;
}

.main-content{
  flex:1;
  padding:30px;
}

#toggleBtn{
  border:none;
  background:#2563eb;
  color:#fff;
  padding:12px 16px;
  border-radius:8px;
  cursor:pointer;
  margin-bottom:25px;
}

.main-content h1{
  margin-bottom:30px;
  color:#333;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
}

.card{
  background:#fff;
  padding:25px;
  border-radius:14px;
  box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.card h2{
  margin-bottom:12px;
  color:#333;
}

.card p{
  font-size:24px;
  color:#2563eb;
  font-weight:bold;
}

.sidebar.hide{
  margin-left:-260px;
}

@media(max-width:768px){

  .sidebar{
    position:fixed;
    height:100%;
    z-index:1000;
  }

  .main-content{
    width:100%;
  }
}