*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#111827;
}

.stopwatch-container{
  background:#1f2937;
  padding:40px;
  border-radius:18px;
  text-align:center;
  box-shadow:0 4px 12px rgba(0,0,0,0.3);
}

.stopwatch-container h1{
  color:#fff;
  margin-bottom:25px;
  font-size:32px;
}

.timer{
  font-size:58px;
  font-weight:bold;
  color:#22c55e;
  margin-bottom:30px;
  letter-spacing:3px;
}

.buttons{
  display:flex;
  justify-content:center;
  gap:15px;
  flex-wrap:wrap;
}

.buttons button{
  padding:12px 22px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  font-size:16px;
  transition:0.3s;
  color:#fff;
}

#startBtn{
  background:#22c55e;
}

#pauseBtn{
  background:#f59e0b;
}

#resetBtn{
  background:#ef4444;
}

.buttons button:hover{
  transform:scale(1.05);
}

@media(max-width:600px){

  .timer{
    font-size:40px;
  }

  .stopwatch-container{
    width:90%;
    padding:30px 20px;
  }
}