*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#111827;
  min-height:100vh;
  padding:40px 20px;
}

.dashboard-container{
  max-width:1200px;
  margin:auto;
}

.dashboard-container h1{
  text-align:center;
  color:#fff;
  margin-bottom:40px;
}

.device-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.device-card{
  background:#1f2937;
  padding:30px 20px;
  border-radius:18px;
  text-align:center;
  box-shadow:0 4px 12px rgba(0,0,0,0.3);
  transition:0.3s;
}

.device-card:hover{
  transform:translateY(-6px);
}

.device-card h2{
  color:#fff;
  margin-bottom:15px;
}

.device-card p{
  color:#d1d5db;
  margin-bottom:25px;
}

.status{
  color:#ef4444;
  font-weight:bold;
}

.switch{
  position:relative;
  display:inline-block;
  width:60px;
  height:34px;
}

.switch input{
  opacity:0;
  width:0;
  height:0;
}

.slider{
  position:absolute;
  cursor:pointer;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#4b5563;
  transition:0.4s;
  border-radius:34px;
}

.slider::before{
  position:absolute;
  content:"";
  height:26px;
  width:26px;
  left:4px;
  bottom:4px;
  background:white;
  transition:0.4s;
  border-radius:50%;
}

input:checked + .slider{
  background:#22c55e;
}

input:checked + .slider::before{
  transform:translateX(26px);
}