* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: #0f172a;
  display: flex;
  justify-content: flex-start;
}

.sidebar {
  width: 350px;
  height: 100vh;
  background: #111827;
  padding: 25px;
  overflow-y: auto;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

.sidebar h2 {
  color: white;
  margin-bottom: 20px;
}

#searchInput,
#noteInput {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  outline: none;
  background: #1f2937;
  color: white;
}

.add-note {
  display: flex;
  gap: 10px;
}

#addBtn {
  padding: 12px 18px;
  border: none;
  border-radius: 10px;
  background: #38bdf8;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

#addBtn:hover {
  transform: scale(1.05);
}

.note {
  background: #1e293b;
  color: white;
  padding: 15px;
  border-radius: 12px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 0.3s ease;
}

.note button {
  background: #ef4444;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: 100%;
  }
}