*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  transition: background 0.3s, color 0.3s;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111827;
  color: white;
}

body.light{
  background: #f3f4f6;
  color: #111827;
}

.container{
  text-align: center;
}

h1{
  margin-bottom: 25px;
}

p{
  margin-top: 20px;
  font-size: 18px;
}

.switch{
  position: relative;
  display: inline-block;
  width: 70px;
  height: 35px;
}

.switch input{
  display: none;
}

.slider{
  position: absolute;
  inset: 0;
  background: #3b82f6;
  border-radius: 35px;
  cursor: pointer;
}

.slider::before{
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  left: 4px;
  top: 3.5px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider::before{
  transform: translateX(34px);
}