*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#111827;
  color:#fff;
  min-height:100vh;
  padding:25px;
}

.streaming-container{
  display:grid;
  grid-template-columns:2fr 1fr;
  gap:25px;
  max-width:1400px;
  margin:auto;
}

.main-video{
  background:#1f2937;
  padding:20px;
  border-radius:18px;
}

.video-player{
  height:450px;
  background:#374151;
  border-radius:16px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:32px;
  color:#9ca3af;
  margin-bottom:20px;
}

.main-video h2{
  margin-bottom:10px;
}

.main-video p{
  color:#d1d5db;
}

.recommended-videos{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.video-card{
  background:#1f2937;
  padding:15px;
  border-radius:16px;
  display:flex;
  gap:15px;
  cursor:pointer;
  transition:0.3s;
}

.video-card:hover{
  transform:translateY(-5px);
}

.thumbnail{
  width:140px;
  height:90px;
  background:#4b5563;
  border-radius:12px;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#d1d5db;
}

.video-info h3{
  margin-bottom:8px;
}

.video-info p{
  color:#9ca3af;
}

@media(max-width:900px){

  .streaming-container{
    grid-template-columns:1fr;
  }

  .video-player{
    height:300px;
  }
}