*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#f4f4f4;
  padding:30px;
}

.gallery-container{
  max-width:1200px;
  margin:auto;
}

.gallery-container h1{
  text-align:center;
  margin-bottom:35px;
  color:#333;
}

.gallery{
  column-count:4;
  column-gap:20px;
}

.gallery-item{
  background:#d1d5db;
  margin-bottom:20px;
  border-radius:16px;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#555;
  font-size:28px;
  font-weight:bold;
  height:220px;
  break-inside:avoid;
  transition:0.3s;
}

.gallery-item:hover{
  transform:scale(1.03);
  opacity:0.9;
}

.large{
  height:320px;
}

.medium{
  height:260px;
}

.tall{
  height:380px;
}

@media(max-width:992px){

  .gallery{
    column-count:3;
  }
}

@media(max-width:768px){

  .gallery{
    column-count:2;
  }
}

@media(max-width:500px){

  .gallery{
    column-count:1;
  }
}