*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#111827;
}

.player-container{
  width:340px;
  background:#1f2937;
  padding:30px;
  border-radius:18px;
  text-align:center;
  box-shadow:0 4px 12px rgba(0,0,0,0.3);
}

.album-image{
  width:220px;
  height:220px;
  background:#d1d5db;
  margin:0 auto 20px;
  border-radius:16px;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#555;
  font-size:28px;
}

.player-container h2{
  color:#fff;
  margin-bottom:8px;
}

.player-container p{
  color:#9ca3af;
  margin-bottom:25px;
}

#progressBar{
  width:100%;
  margin-bottom:25px;
}

.controls{
  display:flex;
  justify-content:center;
  gap:15px;
  margin-bottom:25px;
}

.controls button{
  padding:12px 20px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  color:#fff;
  transition:0.3s;
}

#playBtn{
  background:#22c55e;
}

#pauseBtn{
  background:#ef4444;
}

.controls button:hover{
  transform:scale(1.05);
}

.volume-section{
  display:flex;
  align-items:center;
  gap:12px;
  color:#fff;
}

.volume-section input{
  flex:1;
}